id = "io.buildpacks.stacks.jammy.tiny"
homepage = "https://github.com/paketo-buildpacks/jammy-tiny-stack"
maintainer = "Paketo Buildpacks"

platforms = ["linux/amd64"]

[build]
  description = "ubuntu:jammy with compilers and shell utilities"
  dockerfile = "./build.Dockerfile"
  gid = 1000
  shell = "/bin/bash"
  uid = 1001
  # A change to the stack descriptor

  [build.args]
    sources = """
    deb http://archive.ubuntu.com/ubuntu jammy main
    deb http://archive.ubuntu.com/ubuntu jammy-updates main
    deb http://archive.ubuntu.com/ubuntu jammy-security main
    """

    packages = """\
    build-essential \
    ca-certificates \
    curl \
    git \
    jq \
    libgmp-dev \
    libssl3 \
    libyaml-0-2 \
    netbase \
    openssl \
    tzdata \
    xz-utils \
    zlib1g-dev \
    """

[run]
  description = "distroless-like jammy"
  dockerfile = "./run/run.Dockerfile"
  gid = 1000
  shell = "/sbin/nologin"
  uid = 1002

  [run.args]
    packages = """\
    base-files \
    ca-certificates \
    libc6 \
    libssl3 \
    netbase \
    openssl \
    tzdata \
    zlib1g \
    """
