name: Test Pull Request

on:
  pull_request:
    branches:
    - main

env:
  BUILD_RECEIPT_FILENAME: "build-receipt.cyclonedx.json"
  RUN_RECEIPT_FILENAME: "run-receipt.cyclonedx.json"
jobs:
  test:
    name: Acceptance Test
    runs-on: ubuntu-22.04
    steps:
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.20.x

    - name: Checkout
      uses: actions/checkout@v3

    # https://github.com/docker/setup-qemu-action
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Create stack
      id: create-stack
      uses: paketo-buildpacks/github-config/actions/stack/create-stack@main

    - name: Run Acceptance Tests
      run: ./scripts/test.sh

    # Verify that generating receipts for the multi-arch images works
    - name: Generate Package Receipts
      id: receipts
      run: |
        scripts/receipts.sh --build-image "${GITHUB_WORKSPACE}/build/build.oci" \
                            --run-image "${GITHUB_WORKSPACE}/build/run.oci" \
                            --build-receipt ${{ env.BUILD_RECEIPT_FILENAME }} \
                            --run-receipt ${{ env.RUN_RECEIPT_FILENAME }}

  upload:
    name: Upload Workflow Event Payload
    runs-on: ubuntu-22.04
    steps:
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: event-payload
        path: ${{ github.event_path }}
